.card {
  position: relative;
  width: 30%;
  min-width: 20em;
  min-height: 12em;
  background: #1c1c1c;
  margin: 1em;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.7em;
}

.card .imageContainer {
  width: 100%;
  height: 100%;
}

.card .buttonImageContainer {
  width: 100%;
  height: 100%;
}

.articleImg {
  display: flex;
  justify-content: center;
  transition-duration: 0.25s;
  width: 100%;
  min-width: 8em;
}
.card .textcontainer {
  margin-left: 1.5em;
  color: white;
}

.textcontainer:hover {
  text-decoration: underline;
  cursor: pointer;
}

.articleImg:hover {
  transition-duration: 0.25s;
  transform: scale(0.95);
}

.articleLink {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  font-weight: bold;
}

.articleLinksubtitle {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.closeButtonImage {
  width: 1.5em;
  height: 2em;
  cursor: pointer;
}
